<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a667625290.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
crossorigin=""></script>
   <link rel="stylesheet" href="/stylesheets/style.css">
    <title>WeatherApp</title>
</head>
<body>


    <!-- HEADER -->
    <nav class=" header navbar navbar-light bg-dark">
        Weather App
       <a class="logout" href="/logout">Deconnexion</a>
   </nav> 


   <!-- GRID -->
    <!-- attention normalement class col pas sur meme class que row -->
   <div class="container d-flex justify-content-center flex-column w-100">
    
    <div class="row w-100">
        <div class="mb-3 col-12 col-lg-6 offset-lg-6">
            <form action="/add-city" method="post" class="input-group ">
                <input type="text" class="form-control" placeholder="Enter city name" name="city">
                <button class="btn btn-warning">Add</button>
            </form>

            </div>

    </div>
            
        
    <div class="row mb-3 w-100">
        <div class="col-12 col-lg-6 mb-3">
            <!-- <img class="col w-100" src="/images/map.png" alt="carte"> -->
            <div class="col w-100" id="worldmap"></div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="text-center mb-2">
                <a class="btn btn-outline-warning " href="/update">Update cities <i class="fa-solid fa-rotate"></i></a>
            </div>

            <ul class="list-group w-100">

                <% if(typeof cityList !== "undefined" && cityList.length > 0 ) {%>

                <% for(let i=0; i<cityList.length ;i++){ %>
                <li class="city list-group-item d-flex justify-content-between p-3 align-items-center" data-lat=<%= cityList[i].lat %> data-lon=<%= cityList[i].lon %> data-name="<%= cityList[i].name %>">
                    <div class="text-middle ">
                        <p class="fw-bold m-0"> <%= cityList[i].name %> </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mw-50 gap-2">
                        <p class="d-inline-block m-0"><%= cityList[i].info %> </p>
                        <img src="<%= cityList[i].icon %>" style="width:42px;" >
                        <span class="badge bg-warning rounded-pill"><%= cityList[i].tmax %> °C</span>
                        <span class="badge bg-secondary rounded-pill"><%= cityList[i].tmin %> °C</span>
                    </div>
                    <div class="ms-2 text-end">
                        <a href="/delete-city?index=<%=i%>&id=<%=cityList[i]._id%>"> <i class="fa-regular fa-circle-xmark text-warning"></i> </a>
                    </div>
                </li>

            <%}%>
            <%}else if(!error && cityList.length === 0 ){%>
                <div class="text-center">
                    <h6 class="text-warning">No cities found</h6>
                </div>
                <%}%>
                
                <%if(error){%>
                    <div class="text-center">
                        <h6 class="text-warning">City not found</h6>
                    </div>
                    <%}%>
                      
             </ul>
            
        </div>


    </div>
                
</div>

    <script src="/javascripts/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>