<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a667625290.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>WeatherApp</title>
</head>
<body>


    <!-- HEADER -->
    <nav class=" header navbar navbar-light bg-dark">
        Weather App
       <a class="logout" href="./login.html">Deconnexion</a>
   </nav> 


   <!-- GRID -->

   <div class="container d-flex justify-content-center flex-column w-100">
    <div class="row col-12 col-lg-6 mb-3 offset-lg-6">
        <form action="/add-city" method="post" class="input-group">
            <input type="text" class="form-control" placeholder="enter city name" name="city">
            <button class="btn btn-warning">Add</button>
           </form>

        </div>

        
            <div class="row col-12 col-lg-6 mb-3 w-100">
                <div class="col col-12 col-lg-6 mb-3">
                    <img class="col w-100" src="/images/map.png" alt="carte">

                </div>
        
                <div class="col col-12 col-lg-6">
                    <div class="text-center">
                        <p class="d-inline-block">Update cities</p>
                        <i class="fa-solid fa-rotate"></i>
                    </div>

                    <ul class="list-group w-100">

                        <% if(typeof cityList !== "undefined" && cityList.length > 0 ) {%>

                        <% for(let i=0; i<cityList.length ;i++){ %>
                        <li class="list-group-item d-flex justify-content-between p-3">
                            <div class="ms-2 text-start">
                                <div class="fw-bold"> <%= cityList[i].name %> </div>
                            </div>
                            <div class="ms-2 d-flex justify-content-between align-items-center mw-50 gap-3">
                                <p class="d-inline-block m-0"><%= cityList[i].info %> </p>
                                <i class="<%= cityList[i].icon %>" ></i> 
                                <span class="badge bg-warning rounded-pill"><%= cityList[i].tmax %> °C</span>
                                <span class="badge bg-secondary rounded-pill"><%= cityList[i].tmin %> °C</span>
                            </div>
                            <div class="ms-2 text-end">
                                <a href="/delete-city?index=<%=i%>"> <i class="fa-regular fa-circle-xmark text-warning"></i> </a>
                            </div>
                        </li>

                    <%}%>
                    <%}%>
                     <%if(cityList.length === 0 ){%>
                        <div class="text-center">
                            <h6>No cities found</h6>
                        </div>
                        <%}%>
                      
                    </ul>
            
            </div>


        </div>
                
    </div>

   

             <!-- <div class="row col-12 col-lg-6 offset-lg-6">
        <div class="card w-100">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-footer">
              Card footer
            </div>
          </div>


    </div> -->



 


    

        

   
   

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>